<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Public Spaces</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section id="search" class="search-wrap">
        <form action="/search" class="search-form">
          <i class="fas fa-search"></i>
          <input type="search" name="posts" placeholder="Search By Zipcode">
          <input type="submit" value="search">
        </form>
      </section>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
       <a class="nav-link" href="/spaces/new_navbar">Submit a Space</a>
     </li>
        <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <% if(currentUser) { %>


     <li class="nav-item">
       <a class="nav-link" href="/users/sign_out">Sign out</a>
     </li>
   <% } else { %>
   <!-- #2 -->
     <li class="nav-item">
       <a class="nav-link" href="/users/sign_up">Sign up</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/users/sign_in">Sign in</a>
     </li>
   <% }%>
      </ul>
    </div>
  </div>
</nav>
