body {
  margin-bottom: 10%;
  background-color: #e6e6e6;
}

/*font-family: 'Carrois Gothic SC', sans-serif;*/

h1 {
  font-family: 'Carrois Gothic SC', sans-serif;
  /*color: #ef4f4f; */
  font-size: 20px;
  color: #5E0035;
}

h2 {
  font-family: 'Roboto', sans-serif;
  /*color: #ef4f4f; */
  font-size: 40px;
  text-transform: uppercase;
  color: #2EC4B6;
  color: black;
 -webkit-text-fill-color: #2EC4B6;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

h3 {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 300;
  color: #bd8c7d;
  font-size: 50px;
  color: black;
 -webkit-text-fill-color: #bd8c7d;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #FF3366;
}

.list-group-item {
  padding-top: 2%;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 700;
  margin-bottom: 2%;
  margin-right: 20%;
  border:none;
  background-color: #ffffff;
}

.list-group-item a {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 20px;
  margin-left: -20px;
  color: #020202;

}

.list-group-item a:link {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 20px;
  margin-left: -20px;
  color: #37475a;
}

.list-group-item a:active {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 20px;
  margin-left: -20px;
  color: #37475a;
}

.list-group-item a:visited {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 20px;
  margin-left: -20px;
  color: #37475a;
}

.list-group-item a:hover {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 20px;
  margin-left: -20px;
  color: #37475a;
  text-transform: uppercase;
}

a:link {
  color: #bd8c7d;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

a:active {
  color: #bd8c7d;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

a:visited {
  color: #49494b;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

a:hover {
  color: #49494b;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

#main-body {
  padding-top: 5%;
  background-color: #e6e6e6; /* For browsers that do not support gradients */
/*  background-image: linear-gradient(#f7f7f7, #dcdce5); /* Standard syntax (must be last) */
}

.jumbotron {
  background-color: #ffffff;
  color: white;
  padding-left: 5%;
  box-shadow: 5px 5px 2px #bfbfbf;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}

#search-two {
  padding-top: 5%;
}

.navbar {
  background-color: #37475a;
  color: #575762;
  border-bottom: 1px solid rgb(252, 252, 252);
  padding-top: 2%;
  padding-bottom:2%;
}

#header-two{
  color: white;
}

#search-two input[type=submit] {
    padding:5px 15px;
    background:#fff244;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.navbar-brand {
  color: #bd8c7d;
}

.navbar-brand a {
  font-size: 30px;
  color: #bd8c7d;
}

input[type=text] {
    padding:5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

/* end front page styling */

main.container {
  padding-top: 5%;
}

body {
  background-color: #e6e6e6;
  margin-bottom: 10%;
}

body#posting {
  background-color: #e6e6e6;
  margin-bottom: 10%;
}

p {
  color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
}

ul.list-group {

}

#posts.jumbotron {
  background-color: white;
}

#posts.jumbotron p{
  color: black;
}

#posts.jumbotron h2{
  color: black;
}

h4 {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #fff42d;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff42d;
  color: black;
 -webkit-text-fill-color: #fff42d; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

main#post_page.container{
  background-color: #e6e6e6;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 25px;
  text-transform: uppercase;
  color: black;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 25px;
  color: #2EC4B6;
 -webkit-text-fill-color: #ff3366; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
 padding-bottom: 1%;
}

.post_page_one {
  padding-bottom: 15px;
}

.post_page_two {
  padding-top: 20px;
}

a.btn.btn-success {
  margin-top: 1%;
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

#posts {
  padding-top: 5%;
}

li#item.list-group-item {
  background-color: white;

}

main#signup.container{
  background-color: #e6e6e6;
}

body#signup {
  background-color: #e6e6e6;
  margin-bottom: 10%;
}

main#signin.container{
  background-color: #e6e6e6;
}

body#signin {
  background-color: #e6e6e6;
  margin-bottom: 10%;
}

h1#signup{
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #2EC4B6;
  font-size: 40px;
  text-transform: uppercase;
  color: #2EC4B6
  font-size: 50px;
  color: black;
 -webkit-text-fill-color: #2EC4B6;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

h1#signin{
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #2EC4B6;
  font-size: 40px;
  text-transform: uppercase;
  color: #2EC4B6
  color: black;
 -webkit-text-fill-color: #2EC4B6;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

button#signup.btn.btn-primary {
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

button#signin.btn.btn-primary {
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
  margin-top: 1%;
}

button#new-post.btn.btn-primary {
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

button#edit-post.btn.btn-primary {
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}


main#commments.container{
  background-color: #e6e6e6;
}

section#comment-form{
  background-color: white;
}

body#comments {
  background-color: #e6e6e6;
  margin-bottom: 10%;
}

main#new-post.container{
  background-color: #e6e6e6;
}

main#edit-post.container{
  background-color: white;
}

main#search.container{
  background-color: #e6e6e6;
}

main#new.container{
  background-color: #e6e6e6;
}

main#edit.container{
  background-color: #e6e6e6;
}

body#new-post {
  background-color: #e6e6e6;
  margin-bottom: 10%;
}

body#edit-post {
  background-color:white;
  margin-bottom: 10%;
}

body#search {
  background-color: #e6e6e6;
  margin-bottom: 10%;
}

body#edit {
    background-color: #e6e6e6;
  margin-bottom: 10%;
}

body#new {
  background-color:white;
  margin-bottom: 10%;
}

h1#comments{
  padding-top: 5%;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #2EC4B6;
  font-size: 40px;
  text-transform: uppercase;
  color: #2EC4B6
  color: black;
 -webkit-text-fill-color: #2EC4B6;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

h1#new-post{
  padding-top: 5%;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #2EC4B6;
  font-size: 40px;
  text-transform: uppercase;
  color: #2EC4B6
  color: black;
 -webkit-text-fill-color: #2EC4B6;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

h1#edit-post{
  padding-top: 5%;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #2EC4B6;
  font-size: 40px;
  text-transform: uppercase;
  color: #2EC4B6
  color: black;
 -webkit-text-fill-color: #2EC4B6;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

h1#search{
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #2EC4B6;
  font-size: 40px;
  text-transform: uppercase;
  color: #2EC4B6
  color: black;
 -webkit-text-fill-color: #2EC4B6;; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

hr#comments {
  padding-bottom: 20px;
}

#comments-post {
  padding-bottom: 10px;
}

button#comments.btn.btn-primary {
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

button#flag-two.btn.btn-primary {
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

button#flag-one.btn.btn-primary {
  margin-top: 1%;
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

button.btn.btn-sm.btn-outline-danger {
  margin-top: 1%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

a.btn.btn-warning {
  margin-top: 2%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}

button.btn.btn-danger {
  margin-top: 2%;
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline-color: : black;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: black;
}


input#nav{
  background:#fff244;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

h4#search {
  margin-top: 4%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*color: #ef4f4f; */
  font-size: 50px;
  color: #fff42d;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff42d;
  color: black;
 -webkit-text-fill-color: #fff42d; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

a#new-resource.btn.btn-success{
  margin-bottom: 3%;
}

li {
  margin-left: 5px;
  color: #bd8c7d;
}

a.nav-link {
  margin-left: 5px;
  color: white;
}

a.nav-link:active {
  margin-left: 5px;
  color: white;
}


section#search.search-wrap {
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.comments-item a {
  color: #2EC4B6 !important;
}

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  color: white !important;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  color: white !important;
}
