<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
       <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us</h1>
          <p class="lead">This is a site for you to share your favorite public spaces. Whether it be where the place you park your bike, or the nearest restroom to the park you walk your dog in, this map is for finding those items that are too local for google maps to know about</p>
        </header>

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>

    </body>
</html>
