<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to Public Spaces App</h1>
        <p class="lead">An application for users look up public spaces.</p>
      </header>

      <h1>I'm looking for...</h1>

      <a href="/spaces/new" class="btn btn-success">New Space</a>

      <ul class="list-group">
<!-- #1 -->
        <% spaces.forEach((space) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/spaces/<%= space.id %>"> <%= space.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
