<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>

<div id="content">
<div id="main-body">
  <div class="row">
    <div class="col">
      <header class="jumbotron my-4">
        <h2>Find a Resource
        </h2>
        <h6>
        <ion-icon name="woman"></ion-icon>
        <ion-icon name="man"></ion-icon>
        <ion-icon name="mail"></ion-icon>
        <ion-icon name="bicycle"></ion-icon>
        <ion-icon name="water"></ion-icon>
        <ion-icon name="shirt"></ion-icon>
      </h6>
        <hr class="my-4">
        <h1>Enter your ZIP Code </h1>

        <section id="search-two" class="search-wrap">
            <form action="/search" class="search-form">
              <i class="fas fa-search"></i>
              <input type="search" name="posts" placeholder="Search By ZIP Code" maxlength="5" required>
              <input type="submit" value="search">
            </form>
          </section>

      </header>

    </div>
      <div class="col">
        <header class="jumbotron my-4">
        <div id="header-two">

      <h2>Submit a Resource
      </h2>
      <h6>
        <ion-icon name="woman"></ion-icon>
        <ion-icon name="man"></ion-icon>
        <ion-icon name="mail"></ion-icon>
        <ion-icon name="bicycle"></ion-icon>
        <ion-icon name="water"></ion-icon>
        <ion-icon name="shirt"></ion-icon>
      </h6>
      <hr class="my-4">
      </div>

      <ul id="space_group" class="list-group list-group-flush">

        <% spaces.forEach((space) => { %>


          <li class="list-group-item">
            <a href="/spaces/<%= space.id %>"> <%= space.title %> </a>
          </li>
        <% }) %>
      </ul>
</header>

      <% if(currentUser) { %>
        <% if(currentUser.isAdmin()) { %>
     <a href="/spaces/new" class="btn btn-success">New Space</a>
       <% } %>
       <% } %>

<% include ../static/partials/baseScripts.ejs %>

    </main>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  </body>
</html>
