<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

    <main class="container">

  <header class="jumbotron my-4">
      <h2>Submit A Resource</h2>

      <hr>

      <% spaces.forEach((space) => { %>

        <li class="list-group-item">
          <a href="/spaces/<%= space.id %>"> <%= space.title %> </a>
        </li>
      <% }) %>
    </ul>
  </header>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
