<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Submit A Space</h1>

      <h3>Pick A Category...</h1>

      <% spaces.forEach((space) => { %>
    <!-- #2 -->
        <li class="list-group-item">
          <a href="/spaces/<%= space.id %>"> <%= space.title %> </a>
        </li>
      <% }) %>
    </ul>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
