<form action="/spaces/create_zipcode" method="post">
  <div class="form-group">
  <label for="title">Search By Zipcode</label>
   <input type="integer" class="form-control" name="body" aria-describedby="titleHelp" placeholder="Enter Zipcode">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
