<section id="search" class="search-wrap">
  <form action="/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="posts" placeholder="Public Bench, Public Bathroom, etc...">
    <input type="submit" value="search">
  </form>
</section>
