<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body id="search">
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

    <main id="search" class="container">
      <div id="content">

      <header class="jumbotron my-4">
        <h1>There are currently no resources under this zipcode. Be the first by submitting one below</h1>
        <a class="nav-link" href="/spaces/new_navbar" tabindex="5"><button>Submit A Resource's Location</button></a>

        </header>

       <% if(currentUser) { %>
         <!--    <form style="display:initial" action="/spaces/<%= post.spaceId %>/posts/<%= post.id %>/destroy" method="post">
         <button type="submit" class="btn btn-danger">Delete</button>
       </form> -->
      <% } %>


    </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
