<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <p>post test!</p>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
